$turquoise-color: #54e6af;
$dark-blue-grey-color: #121725;
$medium-blue-grey-color: #2c344b;
$mid-light-blue-grey-color: #5a668a;
$light-blue-grey-color: #c2cbe5;

* {
  font-family: "Chivo", sans-serif;
  margin: 0;
  padding: 0;
  overflow: auto;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  overflow: auto;
}

@mixin tabletScreen {
  @media screen and (min-width: 600px) {
    @content;
  }
}

@mixin desktopScreen {
  @media screen and (min-width: 1100px) {
    @content;
  }
}

@mixin h1 {
  font-weight: 300;
  font-size: 26px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

@mixin body {
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: $light-blue-grey-color;
  text-align: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-image: url(assets/mobile/image-host.jpg);
  background-repeat: no-repeat;
  z-index: 0;
  position: relative;
  padding: 62px 0 94px 0;
  background-size: cover;
  @media screen and (min-width: 500px) {
    padding: 62px 20px 94px 20px;
  }
  @include tabletScreen {
    padding: 50px 94px 0 39px;
    background-image: url(assets/tablet/image-host.jpg);
    background-size: auto;
    background-position-x: right;
    background-color: $dark-blue-grey-color;
  }
  @include desktopScreen {
    padding: 130px 0 130px 165px;
    background-color: $dark-blue-grey-color;
    background-image: none;
    position: relative;
  }
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(18, 23, 37, 0.9);
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    @include tabletScreen {
      display: none;
    }
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 57px;
  @include tabletScreen {
    justify-content: flex-start;
    margin: 0;
    margin-bottom: 152px;
  }
  @include desktopScreen {
    margin: 0;
  }
  &__logo {
    @include desktopScreen {
      position: absolute;
      top: 102px;
    }
  }
}

.page {
  margin: 0 24px;
  @include tabletScreen {
    background-color: $dark-blue-grey-color;
    padding-top: 93px;
    margin: 0;
  }
  @include desktopScreen {
    background-image: url(assets/desktop/image-host.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: right;
    padding-top: 131px;
  }
  &__content {
    @include desktopScreen {
      background-color: $dark-blue-grey-color;
      max-width: 723px;
      padding: 88px 58px 0 0;
    }
  }

  &__title {
    @include h1;
    margin-bottom: 16px;
    @include tabletScreen {
      font-size: 48px;
      line-height: 56px;
      text-align: left;
      margin-bottom: 31px;
    }
    @include desktopScreen {
      font-size: 52px;
      line-height: 62px;
      margin-bottom: 24px;
    }
  }
  &__text {
    @include body;
    margin-bottom: 33px;
    @include tabletScreen {
      font-size: 18px;
      line-height: 28px;
      max-width: 445px;
      text-align: left;
      margin-bottom: 40px;
    }
  }
  &__bottom-wrapper {
    display: flex;
    flex-direction: column;
    @include tabletScreen {
      flex-direction: column-reverse;
    }
  }
  &__share-wrapper {
    max-width: 315px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 17px;
    margin: 0 auto;
    margin-bottom: 48px;
    @include tabletScreen {
      margin-left: 0;
      max-width: 536px;
      height: 29px;
      margin-bottom: 153px;
    }
    @include desktopScreen {
      margin-bottom: 1em;
    }
  }
  &__share-icon {
    width: fit-content;
    height: 100%;
  }
  &__form {
    display: flex;
    flex-direction: column;
    @include tabletScreen {
      margin-bottom: 60px;
    }
  }
  &__form-input {
    padding: 9px 32px;
    border-radius: 28px;
    background-color: $medium-blue-grey-color;
    border: none;
    margin-bottom: 16px;
    outline: none;
    @include body;
    font-size: 14px;
    color: white;
    text-align: left;
    font-weight: 400;
    @include tabletScreen {
      padding: 15px 32px;
      margin: 0;
      width: 427px;
    }

    ::placeholder {
      @include body;
      font-weight: 400;
      color: white;
      opacity: 0.5;
      @include tabletScreen {
        text-align: left;
      }
    }
  }
  &__form-btn {
    padding: 9px 32px;
    border-radius: 28px;
    border: none;
    background-color: $turquoise-color;
    @include body;
    font-weight: 700;
    color: $dark-blue-grey-color;
    &:hover {
      background-color: #b3ffe2;
      cursor: pointer;
    }
    @include tabletScreen {
      width: fit-content;
      margin: -51px 0 8px 251px;
      padding: 11px 27px;
    }
  }
  &__form-message {
    font-size: 12px;
    font-weight: 400;
    color: red;
    margin-left: 32px;
    margin-top: 8px;
  }
}

.footer {
  display: none;
  @include tabletScreen {
    display: block;
  }
  &__img {
    @include desktopScreen {
      position: absolute;
      bottom: 76px;
      right: 0;
    }
  }
}

.-turquoise {
  color: $turquoise-color;
  background-color: transparent;
}

.-google-podcast-height {
  max-height: 11px;
  @include tabletScreen {
    max-height: 18px;
  }
}

.-pocket-casts-height {
  max-height: 15px;
  @include tabletScreen {
    max-height: 26px;
  }
}
